In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
train = pd.read_csv("train.csv",index_col=0)
test = pd.read_csv("test.csv",index_col=0)

In [3]:
# おそらく不要
train['country'] = train['country'].apply(str)
train['store'] = train['store'].apply(str)
train['product'] = train['product'].apply(str)

In [6]:
train

              date  country       store         product  num_sold
row_id
0       2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       2015-01-01  Finland  KaggleRama      Kaggle Hat       911
...            ...      ...         ...             ...       ...
26293   2018-12-31   Sweden  KaggleMart      Kaggle Hat       823
26294   2018-12-31   Sweden  KaggleMart  Kaggle Sticker       250
26295   2018-12-31   Sweden  KaggleRama      Kaggle Mug      1004
26296   2018-12-31   Sweden  KaggleRama      Kaggle Hat      1441
26297   2018-12-31   Sweden  KaggleRama  Kaggle Sticker       388

[26298 rows x 5 columns]

In [8]:
exp1 = setup(train, target = 'num_sold',
             categorical_features=["country", "store","product"])

In [9]:
# モデルの比較
compare_models()

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=7949, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [10]:
# Light Gradient Boosting Machineのモデルを作成
rf = create_model('lightgbm')

In [13]:
# 解析結果の確認
evaluate_model(rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [14]:
#モデルの確定
final_rf = finalize_model(rf)
print(final_rf)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=7949, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [35]:
#予測の実行
unseen_predictions = predict_model(final_rf, data = test)
print(test)

              date  country       store         product
row_id
26298   2019-01-01  Finland  KaggleMart      Kaggle Mug
26299   2019-01-01  Finland  KaggleMart      Kaggle Hat
26300   2019-01-01  Finland  KaggleMart  Kaggle Sticker
26301   2019-01-01  Finland  KaggleRama      Kaggle Mug
26302   2019-01-01  Finland  KaggleRama      Kaggle Hat
...            ...      ...         ...             ...
32863   2019-12-31   Sweden  KaggleMart      Kaggle Hat
32864   2019-12-31   Sweden  KaggleMart  Kaggle Sticker
32865   2019-12-31   Sweden  KaggleRama      Kaggle Mug
32866   2019-12-31   Sweden  KaggleRama      Kaggle Hat
32867   2019-12-31   Sweden  KaggleRama  Kaggle Sticker

[6570 rows x 4 columns]

In [36]:
unseen_predictions
unseen_predictions = unseen_predictions.rename(columns={'Label': 'num_sold'})

In [37]:
#print(unseen_predictions.filter(items=['row_id', 'num_sold']))
unseen_predictions

              date  country       store         product     num_sold
row_id
26298   2019-01-01  Finland  KaggleMart      Kaggle Mug   354.222283
26299   2019-01-01  Finland  KaggleMart      Kaggle Hat   526.498957
26300   2019-01-01  Finland  KaggleMart  Kaggle Sticker   149.546090
26301   2019-01-01  Finland  KaggleRama      Kaggle Mug   614.682713
26302   2019-01-01  Finland  KaggleRama      Kaggle Hat   844.840085
...            ...      ...         ...             ...          ...
32863   2019-12-31   Sweden  KaggleMart      Kaggle Hat   773.191687
32864   2019-12-31   Sweden  KaggleMart  Kaggle Sticker   258.275788
32865   2019-12-31   Sweden  KaggleRama      Kaggle Mug   940.055382
32866   2019-12-31   Sweden  KaggleRama      Kaggle Hat  1242.998796
32867   2019-12-31   Sweden  KaggleRama  Kaggle Sticker   514.520722

[6570 rows x 5 columns]

In [38]:
submit = unseen_predictions.filter(items=['row_id', 'num_sold'])

In [39]:
submit.to_csv('submit0127.csv')