In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
train_df = pd.read_csv('train.csv' ,index_col=0)
test_df = pd.read_csv('test.csv',index_col=0)

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
train_df['time'] = pd.to_datetime(train_df['time'])

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848835 entries, 0 to 848834
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time        848835 non-null  datetime64[ns]
 1   x           848835 non-null  int64
 2   y           848835 non-null  int64
 3   direction   848835 non-null  object
 4   congestion  848835 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 38.9+ MB

In [6]:
train_df['month'] = train_df['time'].dt.month
train_df['day'] = train_df['time'].dt.day
train_df['hour'] = train_df['time'].dt.hour
train_df['week'] = train_df['time'].dt.dayofweek
train_df = train_df.drop(['time'],axis=1)

train_df.head()

             time  x  y direction  congestion  month  day  hour  week
row_id
0      1991-04-01  0  0        EB          70      4    1     0     0
1      1991-04-01  0  0        NB          49      4    1     0     0
2      1991-04-01  0  0        SB          24      4    1     0     0
3      1991-04-01  0  1        EB          18      4    1     0     0
4      1991-04-01  0  1        NB          60      4    1     0     0

In [8]:
train_df

        x  y direction  congestion  month  day  hour  week
row_id
0       0  0        EB          70      4    1     0     0
1       0  0        NB          49      4    1     0     0
2       0  0        SB          24      4    1     0     0
3       0  1        EB          18      4    1     0     0
4       0  1        NB          60      4    1     0     0
...    .. ..       ...         ...    ...  ...   ...   ...
848830  2  3        NB          54      9   30    11     0
848831  2  3        NE          28      9   30    11     0
848832  2  3        SB          68      9   30    11     0
848833  2  3        SW          17      9   30    11     0
848834  2  3        WB          24      9   30    11     0

[848835 rows x 8 columns]

In [11]:
from sklearn.datasets import load_boston
boston = load_boston()
df_boston = pd.DataFrame(data=boston.data,columns=boston.feature_names)
df_boston['target'] = boston.target

In [12]:
boston.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [19]:
#f = (['x', 'y', 'direction', 'month', 'day', 'hour', 'week'])
f = (['x', 'y', 'month', 'day', 'hour', 'week'])

In [20]:
f

['x', 'y', 'month', 'day', 'hour', 'week']

In [21]:
# データのロード
# インスタンス作成
clf = RandomForestRegressor(random_state=0)

# 説明変数
#X = df_boston[boston.feature_names].values
#X = train_df['x' 'y' 'direction' 'month' 'day' 'hour' 'week'].values
X = train_df[f].values

# 目的変数target
Y = train_df['congestion'].values

# データの分割
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2,random_state=0)

# 予測モデルを作成
clf.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [23]:
fti = clf.feature_importances_

print('Feature Importances:')
for i, feat in enumerate(train_df[f]):
    print('\t{0:10s} : {1:>.6f}'.format(feat, fti[i]))

Feature Importances:
	x          : 0.307900
	y          : 0.134976
	month      : 0.064083
	day        : 0.143828
	hour       : 0.256127
	week       : 0.093085

In [24]:
# 精度算出
#accuracy_score(y_test,clf.predict(X_test))
clf.predict(y_test)

ValueError: Expected 2D array, got 1D array instead:
array=[33. 60. 57. ... 35. 34. 45.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# 特徴量重要度
feature_importance = pd.DataFrame({'feature':boston.feature_names,'importances':clf.feature_importances_}).sort_values(by="importances", ascending=False)

# 可視化
sns.barplot(x="importances", y="feature", data=feature_importance.head())
plt.show()